/*
 * Default Styles
 * ---------------------------------------------------------------------------- 
 */  
body{
  width:90%;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
  margin:0 0 20px 0;
}
p, li{
  line-height:20px;
}
.blue{
  color: blue;
}
.big{
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
.bold{
  font-weight: bold;
}
.button{
  text-decoration: none;
}
.contentEditable{
  border: solid 1px #000;
  background-color: #fff;
  width: 200px;
}
.pageno{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;  
}
/* Fieldset */

h1, .actions img{
  vertical-align: middle;
}

table.print{
  width: 70%;
  text-align: center;
}
table.print td{
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
table.print p{
  padding: 5px 0;
}
.print-title1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
}
.print-title3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
}
.print-title4{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
}
.print-title5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
}
.print-title7{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
}
table.print td .print-text1{
  padding: 0 5px 0 0;
  margin: 0;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}
table.print td .print-text2{
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 20px;
  padding-bottom: 5px;
}

.editInLine{
  width: 80%;
  margin: 0;
  padding: 2px;
  color: #000;
  background-color: #fff;
}
.tags-item{
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ddd;
  color: #fff;
  background-color: #337AB7;
  border-radius: 6px;
}
.tags-item:hover{
  border: 1px solid #000;
  cursor: pointer;
}
span.email a, span.phone a{
  color: #00f;
  text-decoration: none;
  font-size: 14px;
}
span.email a:hover, span.phone a:hover{
  color: #00c;
  text-decoration: underline;
}

/* END Default */

/*
 * Header
 * ---------------------------------------------------------------------------- 
 */ 
header#page_header{
  width:100%;
  background-color: #ffffff ;
  height: 160px;
}
/* Login info bar */
header#page_header p{
  position: absolute;
  top: 40px;
  right: 7%;
  font-size: 14px;   
  color: #337AB7;
}
header#page_header h1{
  padding-top: 40px;
  color: #337AB7;
}
header#page_header h2{
  color: #337AB7;
}

/* BAR menu */
header#page_header nav{
  margin-top: 45px;
  background-color: #65a2f163;
  border-bottom: 1px solid #000;
}

header#page_header nav ul{
  list-style: none;
  padding: 2px 0;
  margin: -20px 0 0 300px; 
}
header#page_header img.imageLogo{
  padding: 10px;
  margin: 15px;
  float: left;
}
header#page_header img.logout:hover, .action, .pointer:hover {
  cursor: pointer;
}
header#page_header #loginform{
  margin-top: 70px;
  margin-right: 20px;
  float: right;
}

#page_header nav ul li, footer#page_footer nav ul li{
  padding:0;
  margin: 0 20px 0 0;
  display:inline;
}
#page_header nav ul li a.active{
  color: #0000ff;
}

#page_header nav a{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 22px;
  font-weight:normal;
  text-decoration: none;
  padding: 0 10px;
  color: black;
}
#page_header nav a:hover{
  background-color:#99c5ff;
}
span#UserName{
  color: #000;
  font-size: 11px;
}
/* END Header */

/*
 * Envelope 
 * ---------------------------------------------------------------------------- 
 */
div#envelope{
  margin: 0;
  padding: 0;
  position: relative;
}
/* END Envelope */

/*
 * LEFT panel 
 * ---------------------------------------------------------------------------- 
 */
section#panel_left{
  margin: 0;
  padding: 0;
  width: 300px;
  float: left;
}

/* LEFT Navigation */
section#navigate {
  margin: 0;
  padding: 0;
  width: 1300x;
}
section#navigate ul{
  border-top: 1px solid #dadada;
  list-style: none;
  margin: 0; 
  padding: 0;
}
section#navigate ul li{
  padding: 5px;
  margin: 0;
  display:block;
  border-bottom: 1px solid #dadada;
}
section#navigate ul li.active{
  background-color: #C3DBFA;
}
section#navigate ul li.active a{
  color: blue;
}
section#navigate ul li a.EntryType25{
  color: blue;
}
section#navigate ul li.active a.EntryType25{
  color: blue;
}

section#navigate ul li:hover.active{
  background-color: #337AB7;
}

section#navigate a{
  text-decoration: none;
  color: rgb(4, 2, 7);
  font-size: 14px;
  padding: 10px;
}
section#navigate ul li:hover{
  background-color: #eeeeee;
}

/* Login */
section#login{
  margin: 0;
  padding: 0;
  width: 300px;
  display: none;
}
section#login fieldset{
  margin: 0;
  margin-top: 10px;
  border: 1px solid #efefef;
  background-color: #ffc;
  font-family: Arial, sans-serif;
  font-size: 10px;
}
section#login legend{ 
  background-color: #ffc;
  padding: 1px 10px;
}
section#login fieldset>ol{list-style: none;
  padding: 0; 
  margin: 0;
}
section#login fieldset>ol>li{
  margin: 0 0 2px 0;
  padding: 0;
}
section#login fieldset input{
  display:block;
}
section#login input{
  width: 100%;
  background-color: #fff;
  border: 1px solid #bbb;
}
section#login input[type="submit"]{
  width: 100%;
  padding: 0;
  margin-top: 10px;
  background-color: #ff9;
}
/* END LEFT Panel */  

/*
 * Main page CONTENT
 * ---------------------------------------------------------------------------- 
 */
section#content{
  background: transparent;
  margin-top: 5px;
  margin-left: 310px; 
}
section#content ul{
  margin: 0;
  padding: 0;
}
section#content ul>li{
  margin: 0;
  padding: 4px 10px;
  text-align: left;
  list-style: none;
}

div#breads{
  margin: 10px 0;
}
div#breads a{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 15px;
  font-weight:normal;
  text-decoration: none;
  padding: 0 10px;
  color: #337AB7; 
}
div#breads a:hover{
  color: #000;
}
.ContentEntryType25 td{
  border: 1px solid #000;
}
div#insertDocument{
  text-align: left;
}
div#newcardID{
  margin: 10px auto;
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 18px;
}

div#DocumentItems{
  margin: 10px auto;
}
div#DocumentItems td a, div#DocumentItems td,
div#ListItems td a, div#ListItems td{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 18px;
  text-decoration: none;
  padding: 4px 0;
}
div#DocumentItems a:hover,
div#ListItems a:hover{
  color: rgb(9, 13, 221); 
  text-decoration: underline;
}
div#DocumentItems img{
  vertical-align: middle;
}
div#DocumentItems td a.term1, div#DocumentItems td.term1{
  font-weight:bold;
  color: yellow; 
  background-color: crimson;
}
div#DocumentItems td.column{
  padding-left: 5px;
  padding-right: 5px;
}

div#DocumentItems table.table-child-adv tr:nth-of-type(even){
  background-color: white
}
div#DocumentItems table.table-child-adv tr:nth-of-type(odd) {
  background-color: white;
}


div#ListItems{
  margin: 10px auto;
}
div#ListItems td{
  font-family: Arial, sans-serif, Calibri; 
  font-size: 14px;
  font-weight:normal;
  text-decoration: none;
  padding: 6px 0;
}
div#ListItems td.col_fullname{
  padding-left: 10px;
}
div#ListItems td.col_title,
div#DocumentItems td.col_title{
  font-size: 12px;
  padding-left: 10px;
}
div#ListItems td.col_link {
  text-decoration: underline;
  color: #0000ff;
}

div#ListItems table.sub1 td{
  border: 1p solid #000;
}

div#FolderItems ul li{
  width: 30%;
  float: left;
}
div#FolderItems a{
  font-size: 16px;
  text-decoration: none;
  color:#000;
  font-size: 15px;
  text-decoration: none;
}
div#FolderItems a:visited{
  color:#000;
  text-decoration: none;
}
div#FolderItems a:hover{
  color: rgb(9, 13, 221); 
  text-decoration: underline;
}
div#document table{
  width: 40%;
}
div#document td{
  font-size: 14px;
  padding: 4px;
  border: 1px solid #337AB7
}
div#document tr:nth-of-type(even){
  background-color: #F3F3F3;
}
div#document tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}
div#content span{
  color: #000;
}
div#PortalMenu{
  width: 500px;
}
div#PortalMenu>ul{
  margin-left: 50px;
  border-top: 1px solid black;
}
div#PortalMenu ul li{
  background: #ffc;
  color: #00f;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
}
div#PortalMenu a{
  text-decoration: none;
}
div#PortalMenu li:hover{
  background-color: #BEBEBE;
  font-weight: bold;
}
/* END page CONTENT */

/*
 * Page Counter
 *
 */
 div#pagecounter{
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  height: 22px;
}
div#pagecounter.bottom{
  margin: 10px 0;
  clear: both;
}
div#pagecounter img{
  border-width: 0px;
}
div#pagecounter a{
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #000;	
}
div#pagecounter a:hover{
  color: blue;
  text-decoration: underline;
}
div#pagecounter a span strong{
  font-weight: bold;
}
/* END Page Counter */

/* Search menu */
#searchForm{
  text-align: left;
  height: 24px;
  margin: 10px 10px 20px 10px;
  padding: 0;
}
#searchForm input{
  font-size: 12px;
  float: left;
  height: 20px;
  padding: 10px 5px;
  margin: 0;
  padding: 4px;
  vertical-align: middle;
} 

span.action_close, div#ListItems td a.action_button, .action_button{
  margin: 0;
  padding: 0 10px;
  border: 1px solid black;
  background-color: #07cf8c;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}
a.action_button:hover{
  text-decoration: none;
}
.action_close:hover{
  cursor: pointer;
}

.action{
  border: 1px solid #808080;
  background-color: #dadada;
  color: #808080;
  margin: 20px;
  padding: 2px;
  text-decoration: none;
  border-radius: 3px;
}
.action:hover{
  color: #000;
}
.action img {
  vertical-align: middle;
}
input#submitAddFile {
  vertical-align: middle;
}

/* END Search menu */

/*
 * Link windows
 *
 */
section#linksession{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
section#linksession ul{
  margin: 0;
  padding: 0;
}
section#linksession ul>li{
  width: 10%;
  margin: 0;
  padding: 1px 10px;
  text-align: left;
  list-style: none;
  float: left;
}
section#tablelist{
  margin: 0;
  padding: 10px 0;
  width: 100%;
  clear:right;
}
section#content h3{
  margin: 0;
  padding: 5px 10px;
  background-color: #eeeeee;
}
/* END Link */
   
/*
 * Footer 
 * ---------------------------------------------------------------------------- 
 */
 footer#page_footer{
  clear: both;
  width: 100%; 
  display: block; 
  text-align: left;
  font-size: 14px;  
  color: #1fefef;
}
/* END Footer */

/*
 * TABLE standard's format  
 * ---------------------------------------------------------------------------- 
 */
table{
  width: 100%; 
  border-collapse: collapse;
  font-size: 10px; 
} 
th, td{ 
  border: none;
  font-family: arial;
}
/* TABLE Header */
th{
  background-color: #07CF8C; 
  color: #000;
  font-size: 15px; 
  text-align: left;
}
/* TABLE Line's Format */
tr:nth-of-type(even){
  background-color: #F3F3F3;
}
tr:nth-of-type(odd) {
  background-color:#ddd;
}

div#admin table{
  width: 70%; 
  margin: 20px;
  border: 1px solid #337AB7;
  font-size: 20px; 
  text-align: center;
} 
div#admin td{
  background-color: #ff9;
  padding: 2px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #337AB7;
}
div#admin td.title{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
div#admin th.caption{
  color:black;
  background-color: #07cf8c;
  font-size: 14px;
}
div#admin td.name{
  width: 20%;
  padding: 5px;
}
div#admin td.value{
  width: auto;
  font-weight: bold;
}
div#admin td.value-small{
    font-size: 12px;
}
div#admin td.action{
  width: 10%;
  font-weight: bold;
}
div#admin td input,
div#admin td span{
  margin: 2px 5px;
  width: 90%;
}

div#admin a{
  text-decoration: none;
}

div#actionpanel{
  color: #808080;
  font-size: 12px;
  margin: 10px auto;
  padding: 4px;
  border: 1px solid black;
  background-color: #ffc;
}
div#actionpanel input, div#actionpanel img{
  vertical-align: middle;
  cursor: pointer;
}
div#actionpanel tr{
  color: #808080;
  font-size: 14px;
  background-color: #ffc;
}
div#actionpanel td{
  padding: 4px;
  text-align: center;
  border: 1px solid black;
}
div#actionpanel td.alignleft{
  text-align: left;
}


div#editwindow{
  position: fixed;
  z-index: 9;
	max-width: 700px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #ffc;
  right: 15px;
  border: 3px solid #f1f1f1;
}
.editwindowheader{
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;
}

div#editwindow label{
  display: block;
  margin-bottom: 10px;  
}
div#editwindow label > span{
	float: left;
	width: 100px;
	color: #808080;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
div#editwindow input[type=text],
div#editwindow input[type=date],
div#editwindow input[type=datetime],
div#editwindow input[type=number],
div#editwindow input[type=search],
div#editwindow input[type=time],
div#editwindow input[type=url],
div#editwindow input[type=email],
div#editwindow select{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #000;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:80%;
}
div#editwindow span.button,
div#editwindow input[type=submit],
div#editwindow input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
div#editwindow .required{
	color:red;
	font-weight:normal;
}

/* Form  - PowerPoint */
div#PageHeader{
	min-height: 10vh;
  margin: 0 auto;
}

div#PageBody{
	min-height: 80vh;
  margin: 0 auto;
	padding: 0;
	width: 100%;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 1px solid black;
}
div#PageBody p, textarea{
	padding: 10px;
  width: 95%;
  line-height: 30px;
  font: 24px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}
div#PageFooter{
	min-height: 10vh;
  margin: 0 auto;
	padding: 10px;
	width: 100%;
  height: 24px;
  text-align: center;
}
div#PageFooter span{
  margin: 0;
  padding: 0;
}

/* Form  - CARD */

div#DocumentItems table.edit-card{
	margin: 0;
	padding: 0;
	width: 100%;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #2196F3;
} 
div#DocumentItems table.edit-card tr{ 
  padding: 0;
  margin: 0;
}
div#DocumentItems table.edit-card td, div#DocumentItems table.edit-card td a{ 
  padding: 2px 10px;
  border: none;
  vertical-align: top;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #000;
}
div#DocumentItems table.edit-card td{ 
  border: 1px solid white;
}


div#DocumentItems table.edit-card label.title{
  font-size: 12px;
  font-weight: bold;
}
div#DocumentItems table.edit-card span.action,
div#DocumentItems table.edit-card input.action,
div#DocumentItems table.edit-card td.label{ 
  font-size: 14px;
  font-weight: bold;
}
div#DocumentItems table.edit-card input.value,
div#DocumentItems table.edit-card option.value,
div#DocumentItems table.edit-card span.value,
div#DocumentItems table.edit-card td.value{ 
  padding: 2px;
  font-size: 14px;
}
div#DocumentItems table.edit-card{
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

div#DocumentItems td.value a.col_email{
  width: 300px;
}
div#DocumentItems textarea{
	background: #fff;
	color: #000;
	padding: 5px 8px 5px 8px;
	width:90%;
  font-size: 16px;
  font-family: Arial, "MS Trebuchet", sans-serif;
  min-height: 70px;
	border: 1px solid #FFC2DC;
  border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
}

.autosize {
  resize: none;
  overflow: hidden;
}


.edit-card tr:nth-of-type(even){
  background-color: #06f5a5;
}
.edit-card tr:nth-of-type(odd) {
  background-color: #06f5a5;
}
 
.col_function,
.col_lastname,
.col_email{
  width: 300px;
}
.col_fileext{
  width: 50px;
}
.col_filename{
  width: 600px;
}
.col_fullname,
.col_company,
.col_web,
.col_phone{
  width: 700px;
}
.col_name{
  width: 300px;
}
.col_text{
  font-size: 20px;
}
.col_address{
  width: 370px;
}
.col_documentno{
  font-size: 14px;
  font-weight: bold;
  color:#808080;
  width: 200px;
}
.col_code{
  width: 100px;
}
.col_code200{
  width: 200px;
}
.col_title{
  width: 100px;
}
.col_action{
  width: 100px;
  text-align: left;
  vertical-align: text-top;
}
.col_action img{
  cursor: pointer;
}
.col_fullname a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.col_fullname a:hover{
  text-decoration: underline;
  color: #0000ff;
}
.col_date{
  font-size: 12px;
  font-weight: bold;
  color:#808080;
}
.col_note{
  width: 700px;
}
.center{
  text-align: center;
}
.version{
  font-size: 11px;
  color: dimgray;
}
.quickChoice{
  font-size: 12px;
}
.quickChoice b{
  font-size: 14px;
}
.quickChoice u{
  cursor: pointer;
}
.email{
  color: blue;
  text-decoration: none;
}
.web{
  color: blue;
  text-decoration: none;
}
.table-child{
  border: 1px solid #000;
}
pre.content{
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #000;
}
.formlabel{
  width: 30px;
  color:#0000ff;
}
.error{
  color: black;
  background-color: red;
  border: 3px solid black;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.message{
  color: black;
  background-color: rgb(241, 241, 202);
  border: 3px solid black;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}