/*
 * Default Styles
 * ---------------------------------------------------------------------------- 
 */  
body{
  width:90%;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
  margin:0 0 20px 0;
}
p, li{
  line-height:20px;
}

/* Border radius */
fieldset, legend{
   border-radius: 10px;
  /* KONEC: standardní */
   /* ZAČÁTEK: Mozilla */
   -moz-border-radius: 10px;
  /* KONEC: Mozilla */
   /* ZAČÁTEK: Webkit */
   -webkit-border-radius: 10px;
  /* KONEC: Webkit */

  -moz-box-shadow: 3px 3px 5px #ccc;
  -webkit-box-shadow: 3px 3px 5px #ccc;
  -o-box-shadow: 3px 3px 5px #ccc;
  box-shadow: 3px 3px 5px #ccc;
  color: #808080;
}
input{
   border-radius: 5px;
  /* KONEC: standardní */
   /* ZAČÁTEK: Mozilla */
   -moz-border-radius: 5px;
  /* KONEC: Mozilla */
   /* ZAČÁTEK: Webkit */
   -webkit-border-radius: 5px;
  /* KONEC: Webkit */
  color: #808080;
}
h1, .actions img{
  vertical-align: middle;
}

.editInLine{
  width: 80%;
  margin: 0;
  padding: 2px;
  color: #000;
  background-color: #fff;
}
.tags-item{
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ddd;
  color: #fff;
  background-color: #337AB7;
  border-radius: 6px;
}
.tags-item:hover{
  border: 1px solid #000;
  cursor: pointer;
}
span.email a, span.phone a{
  color: #00f;
  text-decoration: none;
  font-size: 14px;
}
span.email a:hover, span.phone a:hover{
  color: #00c;
  text-decoration: underline;
}

/* END Default */

/*
 * Header
 * ---------------------------------------------------------------------------- 
 */ 
header#page_header{
  width:100%;
  background-color: #eeeeee ;
  height: 180px;
}
/* Login info bar */
header#page_header p{
  position: absolute;
  top: 40px;
  right: 7%;
  font-size: 14px;   
  color: #337AB7;
}
header#page_header h1{
  padding-top: 40px;
  color: #337AB7;
}
header#page_header h2{
  color: #337AB7;
}

/* BAR menu */
header#page_header nav{
  margin-top: 45px;
  background-color: #dadada;
}

header#page_header nav ul{
  list-style: none;
  padding: 5px 0;
  margin: -20px 0 0 300px; 
}
header#page_header img{
  padding: 10px;
  margin: 15px;
  float: left;
}

#page_header nav ul li, footer#page_footer nav ul li{
  top: 20px;
  padding:0;
  margin: 0 20px 0 0;
  display:inline;
}
#page_header nav a{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 20px;
  font-weight:normal;
  text-decoration: none;
  padding: 0 10px;
  color: #808080;
}
#page_header nav a:hover{
  color: #000;
}
span#UserName{
  color: #000;
  font-size: 11px;
}
/* END Header */

/*
 * Envelope 
 * ---------------------------------------------------------------------------- 
 */
div#envelope{
  margin: 0;
  padding: 0;
  position: relative;
}
/* END Envelope */

/*
 * LEFT panel 
 * ---------------------------------------------------------------------------- 
 */
section#panel_left{
  margin: 0;
  padding: 0;
  width: 300px;
  float: left;
}

/* LEFT Navigation */
section#navigate {
  margin: 0;
  padding: 0;
  width: 1300x;
}
section#navigate ul{
  border-top: 1px solid #dadada;
  list-style: none;
  margin: 0; 
  padding: 0;
}
section#navigate ul li{
  padding: 5px;
  margin: 0;
  display:block;
  border-bottom: 1px solid #dadada;
}
section#navigate ul li.active{
  background-color: #337AB7;
}
section#navigate ul li.active a{
  color: #ffffff;
}
section#navigate ul li a.EntryType25{
  color: blue;
}
section#navigate ul li.active a.EntryType25{
  color: blue;
}

section#navigate ul li:hover.active{
  background-color: #337AB7;
}

section#navigate a{
  text-decoration: none;
  color: rgb(4, 2, 7);
  font-size: 14px;
  padding: 10px;
}
section#navigate ul li:hover{
  background-color: #eeeeee;
}

/* Login */
section#login{
  margin: 0;
  padding: 0;
  width: 300px;
  display: none;
}
section#login fieldset{
  margin: 0;
  margin-top: 10px;
  border: 1px solid #efefef;
  background-color: #ffc;
  font-family: Arial, sans-serif;
  font-size: 10px;
}
section#login legend{ 
  background-color: #ffc;
  padding: 1px 10px;
}
section#login fieldset>ol{list-style: none;
  padding: 0; 
  margin: 0;
}
section#login fieldset>ol>li{
  margin: 0 0 2px 0;
  padding: 0;
}
section#login fieldset input{
  display:block;
}
section#login input{
  width: 100%;
  background-color: #fff;
  border: 1px solid #bbb;
}
section#login input[type="submit"]{
  width: 100%;
  padding: 0;
  margin-top: 10px;
  background-color: #ff9;
}
/* END LEFT Panel */  

/*
 * Main page CONTENT
 * ---------------------------------------------------------------------------- 
 */
section#content{
  background: transparent;
  margin-top: 5px;
  margin-left: 310px; 
}
section#content ul{
  margin: 0;
  padding: 0;
}
section#content ul>li{
  margin: 0;
  padding: 4px 10px;
  text-align: left;
  list-style: none;
}

div#breads{
  margin: 10px 0;
}
div#breads a{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 15px;
  font-weight:normal;
  text-decoration: none;
  padding: 0 10px;
  color: #337AB7; 
}
div#breads a:hover{
  color: #000;
}
.ContentEntryType25 td{
  border: 1px solid #000;
}

div#DocumentItems td a, div#DocumentItems td{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 18px;
  font-weight:normal;
  text-decoration: none;
  padding: 4px 0;
  color: brown; 
}
div#DocumentItems a:hover{
  color: rgb(9, 13, 221); 
  text-decoration: underline;
}
div#DocumentItems img{
  vertical-align: middle;
}

div#ContactItems td{
  font-family: Arial, sans-serif, Calibri; 
  font-size: 12px;
  font-weight:normal;
  text-decoration: none;
  padding: 4px 0;
  color: black;  
}

div#FolderItems ul li{
  width: 30%;
  float: left;
}
div#FolderItems a{
  font-size: 16px;
  text-decoration: none;
  color:#000;
  font-size: 15px;
  text-decoration: none;
}
div#FolderItems a:visited{
  color:#000;
  text-decoration: none;
}
div#FolderItems a:hover{
  color: rgb(9, 13, 221); 
  text-decoration: underline;
}
div#document table{
  width: 40%;
}
div#document td{
  font-size: 14px;
  padding: 4px;
  border: 1px solid #337AB7
}
div#document tr:nth-of-type(even){
  background-color: #F3F3F3;
}
div#document tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}
div#content span{
  color: #000;
}

/* END page CONTENT */

/*
 * Page Counter
 *
 */
 div#pagecounter{
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  height: 22px;
}
div#pagecounter.bottom{
  margin: 10px 0;
  clear: both;
}
div#pagecounter img{
  border-width: 0px;
}
div#pagecounter a{
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #000;	
}
div#pagecounter a:hover{
  color: blue;
  text-decoration: underline;
}
div#pagecounter a span strong{
  font-weight: bold;
}
/* END Page Counter */

/* Search menu */
div#searchForm{
  text-align: left;
  height: 40px;
  margin: 10px 10px 20px 10px;
  padding: 0;
}
div#searchForm label{
  font-size: 18px;
  padding: 0 10px 0 0;
}
input#search{
  font-size: 18px;
  padding: 10px 5px;
  margin: 0;
  width: 70%;
} 
input#submit{
  padding: 0;
  vertical-align: middle;
}
.action{
  border: 1px solid #808080;
  background-color: #dadada;
  color: #808080;
  margin: 2px 0px;
  padding: 5px;
  text-decoration: none;
  border-radius: 3px;
}
.action:hover{
  color: #000;
}
.action img {
  vertical-align: middle;
}
input#submitAddFile {
  vertical-align: middle;
}

/* END Search menu */

/*
 * Link windows
 *
 */
section#linksession{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
section#linksession ul{
  margin: 0;
  padding: 0;
}
section#linksession ul>li{
  width: 10%;
  margin: 0;
  padding: 1px 10px;
  text-align: left;
  list-style: none;
  float: left;
}
section#tablelist{
  margin: 0;
  padding: 10px 0;
  width: 100%;
  clear:right;
}
section#content h3{
  margin: 0;
  padding: 5px 10px;
  background-color: #eeeeee;
}
/* END Link */
   
/*
 * Footer 
 * ---------------------------------------------------------------------------- 
 */
 footer#page_footer{
  clear: both;
  width: 100%; 
  display: block; 
  text-align: left;
  font-size: 14px;  
  color: #1fefef;
}
/* END Footer */

/*
 * TABLE standard's format  
 * ---------------------------------------------------------------------------- 
 */
table{
  width: 100%; 
  border-collapse: collapse;
  font-size: 10px; 
} 
th, td{ 
  border: none;
  font-family: arial;
}
/* TABLE Header */
th{
  background-color: #000; 
  color: #fff;
  font-size: 15px; 
  text-align: left;
}
/* TABLE Line's Format */
tr:nth-of-type(even){
  background-color: #F3F3F3;
}
tr:nth-of-type(odd) {
  background-color:#ddd;
}

div#admin table{
  width: 70%; 
  margin: 20px;
  border: 1px solid #337AB7;
  font-size: 20px; 
  text-align: center;
} 
div#admin td{
  width: 50%; 
  background-color: #ff9;
  padding: 20px 0;
  border: 1px solid #337AB7;
}
div#admin a{
  text-decoration: none;
}

div#users table{
  width: 80%; 
  margin: 16px 0;
  border: 1px solid #337AB7;
  font-size: 14px; 
  text-align: left;
}
div#users th{
  background-color: #337AB7;
}
div#users td{
  padding: 5px;
}
div#users .form-style-user{
  margin:30px;
  width: 50%;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div#users .form-style-user li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
div#users .form-style-user label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
div#actionpanel{
  color: #808080;
  font-size: 12px;
  margin: 10px 0;
  padding: 4px;
  border: 1px solid black;
  background-color: #ffc;
}
div#actionpanel input, div#actionpanel img{
  vertical-align: middle;
  cursor: pointer;
}
div#editwindow{
  position: fixed;
  z-index: 9;
	max-width: 700px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #ffc;
  right: 15px;
  border: 3px solid #f1f1f1;
}
div#editwindowHeader{
  padding: 10px;
  cursor: move;
  background-color: #2196F3;
  color: #fff;
}

div#editwindow label{
  display: block;
  margin-bottom: 10px;  
}
div#editwindow label > span{
	float: left;
	width: 100px;
	color: #808080;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
div#editwindow textarea{
	width:250px;
	height:100px;
}
div#editwindow input[type=text],
div#editwindow input[type=date],
div#editwindow input[type=datetime],
div#editwindow input[type=number],
div#editwindow input[type=search],
div#editwindow input[type=time],
div#editwindow input[type=url],
div#editwindow input[type=email],
div#editwindow select, 
div#editwindow textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #000;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:80%;
}
div#editwindow span.button,
div#editwindow input[type=submit],
div#editwindow input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
div#editwindow .required{
	color:red;
	font-weight:normal;
}

/* Contact CARD */

.contact-card {
	margin:20px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #ffc;
}
.contact-card li {
	padding: 10px;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.contact-card label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.contact-card input[type=text], 
.contact-card input[type=date],
.contact-card input[type=datetime],
.contact-card input[type=number],
.contact-card input[type=search],
.contact-card input[type=time],
.contact-card input[type=url],
.contact-card input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.contact-card input[type=text]:focus, 
.contact-card input[type=date]:focus,
.contact-card input[type=datetime]:focus,
.contact-card input[type=number]:focus,
.contact-card input[type=search]:focus,
.contact-card input[type=time]:focus,
.contact-card input[type=url]:focus,
.contact-card input[type=email]:focus,
.contact-card textarea:focus, 
.contact-card select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.contact-card .value{
	width: 100%;
}
.contact-card .field-select{
	width: 100%;
}
.contact-card .field-textarea{
	height: 100px;
}
.contact-card input[type=submit], .contact-card input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.contact-card input[type=submit]:hover, .contact-card input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.contact-card .required{
	color:red;
}
.col_function,
.col_email{
  width: 200px;
}
.col_email,
.col_note{
  width: 300px;
}
.col_fullname,
.col_company,
.col_phone{
  width: 700px;
}
.col_action{
  width: 300px;
  text-align: right;
}
.col_action img{
  cursor: pointer;
}
.col_fullname a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.col_fullname a:hover{
  text-decoration: underline;
  color: #0000ff;
}
.col_note{
  font-size: 30px;
}
