/*
 * Default Styles
 * ---------------------------------------------------------------------------- 
 */  
body{
  width:90%;
  margin:15px auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

p{
  margin:0 0 20px 0;
}
p, li{
  line-height:20px;
}

/* Border radius */
fieldset, legend{
   border-radius: 10px;
  /* KONEC: standardní */
   /* ZAČÁTEK: Mozilla */
   -moz-border-radius: 10px;
  /* KONEC: Mozilla */
   /* ZAČÁTEK: Webkit */
   -webkit-border-radius: 10px;
  /* KONEC: Webkit */

  -moz-box-shadow: 3px 3px 5px #ccc;
  -webkit-box-shadow: 3px 3px 5px #ccc;
  -o-box-shadow: 3px 3px 5px #ccc;
  box-shadow: 3px 3px 5px #ccc;
  color: #808080;
}
input{
   border-radius: 5px;
  /* KONEC: standardní */
   /* ZAČÁTEK: Mozilla */
   -moz-border-radius: 5px;
  /* KONEC: Mozilla */
   /* ZAČÁTEK: Webkit */
   -webkit-border-radius: 5px;
  /* KONEC: Webkit */
  color: #808080;
}
/* END Default */

/*
 * Header
 * ---------------------------------------------------------------------------- 
 */ 
header#page_header{
  width:100%;
  background-color: #eeeeee ;
  height: 180px;
}
/* Login info bar */
header#page_header p{
  position: absolute;
  top: 40px;
  right: 7%;
  font-size: 14px;   
  color: #337AB7;
}
header#page_header h1{
  padding-top: 40px;
  color: #337AB7;
}
header#page_header h2{
  color: #337AB7;
}

/* BAR menu */
header#page_header nav{
  margin-top: 45px;
  background-color: #dadada;
}

header#page_header nav ul{
  list-style: none;
  padding: 5px 0;
  margin: -20px 0 0 300px; 
}
header#page_header img{
  padding: 10px;
  margin: 15px;
  float: left;
}

#page_header nav ul li, footer#page_footer nav ul li{
  top: 20px;
  padding:0;
  margin: 0 20px 0 0;
  display:inline;
}
#page_header nav a{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 20px;
  font-weight:normal;
  text-decoration: none;
  padding: 0 10px;
  color: #808080;
}
#page_header nav a:hover{
  color: #000;
}
/* END Header */

/*
 * Envelope 
 * ---------------------------------------------------------------------------- 
 */
div#envelope{
  margin: 0;
  padding: 0;
  position: relative;
}
/* END Envelope */

/*
 * LEFT panel 
 * ---------------------------------------------------------------------------- 
 */
section#panel_left{
  margin: 0;
  padding: 0;
  width: 300px;
  float: left;
}

/* LEFT Navigation */
section#navigate {
  margin: 0;
  padding: 0;
  width: 1300x;
}
section#navigate ul{
  border-top: 1px solid #dadada;
  list-style: none;
  margin: 0; 
  padding: 0;
}
section#navigate ul li{
  padding: 5px;
  margin: 0;
  display:block;
  border-bottom: 1px solid #dadada;
}
section#navigate ul li.active{
  background-color: #337AB7;
}
section#navigate ul li.active a{
  color: #ffffff;
}
section#navigate ul li:hover.active{
  background-color: #337AB7;
}

section#navigate a{
  text-decoration: none;
  color: rgb(4, 2, 7);
  font-size: 14px;
  padding: 10px;
}
section#navigate ul li:hover{
  background-color: #eeeeee;
}

/* Login */
section#login{
  margin: 0;
  padding: 0;
  width: 300px;
  display: none;
}
section#login fieldset{
  margin: 0;
  margin-top: 10px;
  border: 1px solid #efefef;
  background-color: #ffc;
  font-family: Arial, sans-serif;
  font-size: 10px;
}
section#login legend{ 
  background-color: #ffc;
  padding: 1px 10px;
}
section#login fieldset>ol{list-style: none;
  padding: 0; 
  margin: 0;
}
section#login fieldset>ol>li{
  margin: 0 0 2px 0;
  padding: 0;
}
section#login fieldset input{
  display:block;
}
section#login input{
  width: 100%;
  background-color: #fff;
  border: 1px solid #bbb;
}
section#login input[type="submit"]{
  width: 100%;
  padding: 0;
  margin-top: 10px;
  background-color: #ff9;
}
/* END LEFT Panel */  

/*
 * Main page CONTENT
 * ---------------------------------------------------------------------------- 
 */
section#content{
  background: transparent;
  margin-top: 5px;
  margin-left: 310px; 
}
section#content ul{
  margin: 0;
  padding: 0;
}
section#content ul>li{
  margin: 0;
  padding: 4px 10px;
  text-align: left;
  list-style: none;
}

div#breads{
  margin: 10px 0;
}
div#breads a{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 15px;
  font-weight:normal;
  text-decoration: none;
  padding: 0 10px;
  color: #337AB7; 
}
div#breads a:hover{
  color: #000;
}
div#DocumentItems td a, div#DocumentItems td{
  font-family: Century-gothic, Calibri, Arial, sans-serif; 
  font-size: 18px;
  font-weight:normal;
  text-decoration: none;
  padding: 4px 0;
  color: brown; 
}
div#DocumentItems a:hover{
  color: rgb(9, 13, 221); 
  text-decoration: underline;
}
div#FolderItems ul li{
  width: 30%;
  float: left;
}
div#FolderItems a{
  font-size: 16px;
  text-decoration: none;
  color:#000;
  font-size: 15px;
  text-decoration: none;
}
div#FolderItems a:visited{
  color:#000;
  text-decoration: none;
}
div#FolderItems a:hover{
  color: rgb(9, 13, 221); 
  text-decoration: underline;
}
div#document table{
  width: 40%;
}
div#document td{
  font-size: 14px;
  padding: 4px;
  border: 1px solid #337AB7
}
div#document tr:nth-of-type(even){
  background-color: #F3F3F3;
}
div#document tr:nth-of-type(odd) {
  background-color: #F3F3F3;
}
div#content span{
  color: #000;
}

/* END page CONTENT */

/*
 * Page Counter
 *
 */
 div#pagecounter{
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  height: 22px;
}
div#pagecounter.bottom{
  margin: 10px 0;
  clear: both;
}
div#pagecounter img{
  border-width: 0px;
}
div#pagecounter a{
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #000;	
}
div#pagecounter a:hover{
  color: blue;
  text-decoration: underline;
}
div#pagecounter a span strong{
  font-weight: bold;
}
/* END Page Counter */

/* Search menu */
div#searchForm{
  text-align: left;
  height: 40px;
  margin: 10px 10px 20px 10px;
  padding: 0;
}
div#searchForm label{
  font-size: 18px;
  padding: 0 10px 0 0;
}
input#search{
  font-size: 18px;
  padding: 10px 5px;
  margin: 0;
  width: 70%;
} 
input#submit{
  padding: 0;
  vertical-align: middle;
}

/* END Search menu */

/*
 * Link windows
 *
 */
section#linksession{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
section#linksession ul{
  margin: 0;
  padding: 0;
}
section#linksession ul>li{
  width: 10%;
  margin: 0;
  padding: 1px 10px;
  text-align: left;
  list-style: none;
  float: left;
}
section#tablelist{
  margin: 0;
  padding: 10px 0;
  width: 100%;
  clear:right;
}
section#content h3{
  margin: 0;
  padding: 5px 10px;
  background-color: #eeeeee;
}
/* END Link */
   
/*
 * Footer 
 * ---------------------------------------------------------------------------- 
 */
 footer#page_footer{
  clear: both;
  width: 100%; 
  display: block; 
  text-align: left;
  font-size: 14px;  
  color: #1fefef;
}
/* END Footer */

/*
 * TABLE standard's format  
 * ---------------------------------------------------------------------------- 
 */
table{
  width: 100%; 
  border-collapse: collapse;
  font-size: 10px; 
} 
th, td{ 
  border: none;
  font-family: arial;
}
/* TABLE Header */
th{
  background-color: #000; 
  color: #fff;
  font-size: 15px; 
  text-align: left;
}
/* TABLE Line's Format */
tr:nth-of-type(even){
  background-color: #F3F3F3;
}
tr:nth-of-type(odd) {
  background-color:#ddd;
}
